.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5; }

.modal-closed {
  display: none; }

.modal {
  position: fixed;
  background: #fff;
  width: 50%;
  height: 95%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: magenta solid 5px;
  border-radius: 5px; }

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #333;
  color: #fff; }

.modal-footer {
  display: flex;
  justify-content: space-around; }

@media only screen and (max-width: 800px) {
  .modal {
    width: 70%; } }

@media only screen and (max-width: 600px) {
  .modal {
    width: 90%;
    height: 99%; } }
